body{
    background-image: url(Assets/\'ğ‘¬ğ‘´ğ‘¶ğ‘»ğ‘°ğ‘¶ğ‘µ\'\ ğ‘±ğ‘±ğ‘²\ ğ‘­ğ‘¨ğ‘µğ‘­ğ‘°ğ‘ª.gif);
    background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    display: flex;
}

.todo{
    width: 30%;
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
  }

  .Tittle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  input, textarea, button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background: white;
    color: black;
    font-style: italic;
    border-radius: 20px;
    margin: 0 15px 15px;
    font-family: 'Inter';
  }

  button{
    background: black;
    cursor: pointer;
    font-weight: 500;
    font-style: normal;
    color: #EEE;
  }

  button:hover{
    background: #6420AA;
  }

  #todoList {
    list-style: none;
    display: flex;
    flex-direction:column;
    background: white;
    margin:0;
    padding:0;
  }

  .TodoItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .text, .btn{
    display: flex;
  }
  
  .text{
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .text .TittleItem{
    font-size: 25px;
    font-weight: bold;
  }
  .text .DescItem{
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
  }
  .btn-edit, .btn-delete{
    margin:2px;
    padding:4px;
    border-radius: 6px;
    font-size:18px;
    cursor: pointer;
    color: #EEE
  }
  
  .btn-edit{
    background: #6420AA;
  }
  .btn-edit:hover{
    background: black;
  }
  .btn-delete{
    background: #6420AA;
  }
  .btn-delete:hover{
    background: black;
  }